    <div class="containers">
      <header class="header">
        <div class="header-content">
          <div class="logo">
            <img class="logo-img" src="/mortarboard_1940690.png" alt="EduPro Logo">
            <span class="logo-text">EduPro</span>
          </div>
          <nav class="nav-links">
            <a routerLink="/" (click)="setActiveLink('Home')" [class.active]="isActive('Home')">Home</a>
            <a href="#" (click)="setActiveLink('Courses')" [class.active]="isActive('Courses')">Courses</a>
            <a href="#" (click)="setActiveLink('My Learning')" [class.active]="isActive('My Learning')">My Learning</a>
            <a href="#" (click)="setActiveLink('Profile')" [class.active]="isActive('Profile')">Profile</a>
            @if (!isLoggedIn){
              <a routerLink="/login" (click)="setActiveLink('login')" [class.active]="isActive('login')">Login</a>
              <a routerLink="/signUp" (click)="setActiveLink('sign up')" [class.active]="isActive('sign up')">Sign Up</a>
            }

          @if (isLoggedIn){
            <a routerLink="/login" class="logout-link" (click)="logout()">Logout</a>
          }
              </nav>


        </div>
      </header>
    </div>
