fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
google-generativeai
numpy
pgvector
pydantic
pydantic-settings
python-dotenv
requests
httpx
sentence-transformers
langchain
langchain-google-genai
langchain-community
chromadb
tiktoken
