<div class="app-container">
  <app-nav-bar></app-nav-bar>
  <div class="main-content">
<app-sidebar
  [categories]="fixedCategories"
  [levels]="levels"
  [durations]="durations"
  [prices]="prices"
  [features]="features"
  [onlyDiscounted]="onlyDiscounted"
  (categoriesChange)="onCategoriesChange($event)"
  (levelsChange)="onLevelsChange($event)"
  (durationsChange)="onDurationsChange($event)"
  (pricesChange)="onPricesChange($event)"
  (featuresChange)="onFeaturesChange($event)"
  (onlyDiscountedChange)="onOnlyDiscountedChange($event)"
></app-sidebar>
    <div class="content-area">
      <!-- TODO - add for the course page for later (enrollClick)="onEnrollClick($event)"(saveClick)="onSaveClick($event)" -->

      <app-course-grid
      [totalPages]="totalPages"
      [totalResults]="totalResults"
      [courses]="courses"
      [currentPage]="currentPage"
      (currentPageChange)="onPageChange($event)"
      (sortChange)="onSortChange($event)"
    ></app-course-grid>
    </div>
  </div>
</div>
    <!-- Chatbot component (floating assistant) -->
    <app-chatbot></app-chatbot>

    <app-footer></app-footer>
